<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Jonathan Bastard",
  "givenName": "Jonathan",
  "familyName": "Bastard",
  "jobTitle": "Researcher",
  "worksFor": {
    "@type": "EducationalOrganization",
    "name": "ANSES",
    "url": "http://www.anses.fr/"
  },
  "memberOf": {
    "@type": "AcademicInstitute"
    "name": "ANSES"
  },
  "url": "https://jonathanbas.github.io",
  "knowsAbout": [
    "Epidemiology",
    "Models",
    "Infectious diseases"
  ],
  "sameAs": [
    "https://orcid.org/0000-0001-8531-1614",
    "https://scholar.google.fr/citations?hl=fr&user=mZ201xIAAAAJ&view_op=list_works",
    "https://www.researchgate.net/profile/Jonathan-Bastard",
    "https://github.com/JonathanBas"
  ]
}
</script>
